
body{
    margin: 0px;
}


@mixin capaestandar($Vtrans,$wid,$hei){
    border-radius: 40px;
    background-color:rgba($color: #000, $alpha: $Vtrans);
    width: $wid;
    height: $hei;
    position: absolute;
    top: 0px;
    transition: all 800ms ease-in;
}


@mixin textostandar
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    h3{
        margin: 0px;
    }
    p{
        text-align: center;
        margin: 0px;
    }

} 

.main{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}

.conteiner{
    background-color: #16A085;
    width: 90%;
    border-radius: 5%/15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;

    .forma{
        
        background-color: #D1F2EB;
    
        width: 100%;
        
        border-radius: 5% 10% 5% 10% / 5% 20% 5% 20%;
        animation-name: mover;
        animation-duration: 8s;
        animation-iteration-count: infinite;
            
        animation-timing-function:ease;
       
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-around;
        
        figure{


            border-radius: 40px;
            position: relative;
            
            width: 250px;
            height: 250px;

           // overflow: hidden;
            
            display: flex;
            justify-content: center;
           
            box-shadow:0px 30px 20px -15px #0097A7;
            

            img{
                border-radius: 40px;
                transition: all 500ms ease-in;
                width: auto;
                height: auto;
               
           
            }
           
          

            .capa.uno{
                @include capaestandar(0.1,100%,100%);
                @include textostandar();

              
            }
        
            .capa.dos{
               @include capaestandar(0.1,100%,100%);
                @include textostandar();
                opacity: 0;
            }
            .capa.tres{
                @include capaestandar(0.20,100%,100%);
                @include textostandar();
                opacity: 0;
                
            }
        

            .capa.cuatro{
                
               @include capaestandar(0.2,20%,20%);
                @include textostandar();
                opacity: 0;
                
                 
            }


        }





    }
}

.forma figure:hover > .capa.uno{
  
  transition: all 800ms ease-in;
  transform: scale(0.7%);
  
}
.forma figure:hover > .capa.dos{
    opacity: 1;
    transition: all 800ms ease-in;
      
  }

.forma figure:hover > .capa.tres{
    opacity: 1;
    transition: all 800ms ease-in;
    transform: scale(-100%);
    transform: rotate(360deg);
         
  }

.forma figure:hover >.capa.cuatro
{
    opacity: 1;
    width: 100%;
    height: 100%;
   
}
  



@keyframes mover{
    
   
    50%{
        
        border-radius: 10% 5% 10% 5% / 20% 5% 20% 5%;
        
      
    }

    
}